/* a */

a {
    text-decoration: none;
    color: rgb(189, 4, 189);
}


/* box_center */

.box_center {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .box_center {
        max-width: 100%;
    }
}


/* forms & input */

.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(189, 4, 189, 0.5); 
    border-color: rgba(189, 4, 189, 0.5);
}

.input-group-text {
    background: none;
    border-radius: 10px;
}

.input-group input {
    border-radius: 10px;
    border-left: none;
    font-size: 14px;
}


/* primary color */

.btn-primary {
    background-color: rgb(189, 4, 189);
    padding: 18px;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(145, 8, 145);
}

.btn.btn-primary:active {
    background-color: rgb(102, 5, 102);
}

.color-primary {
    color: rgb(189, 4, 189);
}

.bg-primary {
    background: rgb(189, 4, 189);
}


/* Navbar */

.navbar {
    background-color: white;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 0;
}

.navbar .offcanvas {
   padding: 75px;
}

.navbar ul li {
    font-size: 20px;
}

.navbar ul li a {
    color: black;
}

.navbar ul li i {
    color: rgb(189, 4, 189);
    margin-right: 15px;
}


/* Main Content */

#main {
    margin-top: 130px;
    margin-bottom: 100px;
}


/* modals */

.modal {
    z-index: 9999;
} 